@model IEnumerable<Bingo.Models.User>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th width="300px;">
            <span class="glyphicon glyphicon-user" style=" margin-left: 100px;"></span>
        </th>
        <th width="200px;">
            <span class="glyphicon glyphicon-heart-empty"></span>
        </th>
        <th width="200px;"">
            <span class="glyphicon glyphicon-pencil"></span>
        </th>
        <th width="150px;">
            @Html.DisplayName("Like them")
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @if (item.ProfilePicture != null)
        {
            var base64 = Convert.ToBase64String(item.ProfilePicture);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            <div style="background-image:url(@imgsrc);height:75px;width:75px;" class="profile-picture"></div>
        }
        else
        {
            <div style="height:45px;width:45px;margin:35px;color:lightgray;" class="profile-picture"><span class="glyphicon glyphicon-user"></span></div>
        }
        <h4>@Html.DisplayFor(modelItem => item.UserName)</h4>
        <h5>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </h5>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bio)
    </td>
    <td>
        @Html.ActionLink("Yes", "Send", "Match", new { id = item.UserId, result = true }, null)
        @Html.ActionLink("No", "Send", "Match", new { id = item.UserId, result = false }, null)
    </td>
</tr>
}

</table>