@model IEnumerable<Bingo.Models.User>

@{
    ViewBag.Title = "List";
}

<h2>Recommendations for you</h2>

<table class="table">
    <tr>
        <th style="width:300px;">
            <span class="glyphicon glyphicon-user" style=" margin-left: 100px;"></span>
        </th>
        <th style="width:200px;">
            Bio
        </th>
        <th style="width:150px;">
            @Html.DisplayName("Like them")
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @if (item.ProfilePicture != null)
        {
            var base64 = Convert.ToBase64String(item.ProfilePicture);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            <div style="background-image:url(@imgsrc);height:75px;width:75px;" class="profile-picture"></div>
        }
        else
        {
            <div style="height:45px;width:45px;margin:35px;color:lightgray;" class="profile-picture">
                <span class="glyphicon glyphicon-picture"></span>
            </div>
        }
        <a href="@Url.Action("Index", "User", new { id = item.UserId })">
            <h4>@Html.DisplayFor(modelItem => item.UserName)</h4>
        </a>
        <h5>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </h5>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bio)
    </td>
    <td>
        @Html.ActionLink("Yes", "Send", "Match", new { id = item.UserId, result = true }, null) <text> | </text>
        @Html.ActionLink("No", "Send", "Match", new { id = item.UserId, result = false }, null)
    </td>
</tr>
}

</table>